@font-face {
    font-family: font;
    src: url(./fonts/AtlassianSans-latin.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: font;
    overflow: hidden; //show
}

main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #ffffff;

    &::-webkit-scrollbar {
        display: none;
    }

    .selected{
        outline: 2px solid #1ae8f7;
        outline-offset: 2px;
    }

    nav{
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;

        .buttons-left{
            display: flex;      
            gap: 7px;
            background-color: #ffffff;
            padding: 10px 30px;
            border-radius: 40px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);

            button{
                font-size: 18px;
                cursor: pointer;
                padding: 5px 10px;
                border-radius: 5px;
                color: #1f1f1f;
                background-color: #f7f7f7;
                border: 1px solid #cfcfcf;
                transition: all ease-in-out 0.2s;

                &:hover{
                    background-color: #010101;
                    color: #cfcfcf;
                }

                &:active{
                    scale: 0.92;
                }
            }
        }

        .buttons-right{
            display: flex;
            gap: 7px;
            background-color: #ffffff;
            padding: 10px 30px;
            border-radius: 40px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

            button{
                padding: 10px;
                border-radius: 7px;
                color: #ffffff;
                cursor: pointer;
                border: none;
                transition: all ease-in-out 0.2s;

                &:hover{
                    background-color: #eeecec;
                    color: #1f1f1f;
                    border: 1px solid #1f1f1f;
                 }
                 
                &:active{
                    scale: 0.9;
                }
            }

            .export-json{
                background-color: #c3b8f7;
                color: #5b21b6;
            }

            .export-html{
                background-color: #aadafb;
                color: #0369a1;
            }
        }

        .layers-panel{
            position: fixed;
            right: 20px;
            bottom: 10px;
            width: 200px;
            background: #fff;
            border-radius: 10px;
            padding: 10px;
            box-shadow: 0 4px 12px rgba(0,0,0,0.2);
            z-index: 2000;

            h4{
                margin-bottom: 10px;
                font-size: 18px;
            }

            .layers-list{
                list-style: none;
                padding: 0;
                margin: 0 0 10px;
                max-height: 200px;
                overflow-y: auto;

                li{
                    padding: 6px 8px;
                    cursor: pointer;
                    border-radius: 6px;
                    font-size: 14px;
                }

                li.active{
                    background-color: #e9ef2b;
                    color: #6b2fd6;
                }
            }

            .layers-controls button{
                margin-bottom: 5px;
                cursor: pointer;

                &:active{
                    scale: 0.92;
                }

                &:hover{
                    background-color: #d2d0d0;
                    color: #6311f2;
                }
            }

        }

        .properties-panel{
            position: fixed;
            top: 80px;          
            right: 20px;
            width: 260px;
            background: #ffffff;
            border-radius: 12px;
            padding: 16px;
            box-shadow: 0 8px 24px rgba(0,0,0,0.15);
            display: none;
            z-index: 1000;  
            
            h3{
                margin-bottom: 10px;
                font-size: 16px;
                font-weight: 600;
                border-bottom: 1px solid #eee;
                padding-bottom: 6px;
            }

            .prop-group{
                display: flex;
                flex-direction: column;
                gap: 6px;
                margin-bottom: 12px;

                label{
                    font-size: 12px;
                    font-weight: 500;
                    color: #555;
                }

                input, textarea{
                    width: 100%;
                    padding: 6px 8px;
                    font-size: 14px;
                    outline: none;
                    border-radius: 6px;
                    border: 1px solid #ccc;
                }

                textarea{
                    resize: vertical;
                    min-height: 40px;
                }

                input:focus, textarea:focus{
                    border-color: #6b2fd6;
                    box-shadow: 0 0 6px rgba(107, 47, 214, 0.3);
                }

                .text-style-controls{
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    margin-top: 5px;

                    button{
                        width: 36px;
                        height: 30px;
                        border-radius: 6px;
                        border: 1px solid  #ccc;
                        background: #f7f7f7f7;
                        cursor: pointer;
                        font-weight: 600;

                        &:hover{
                            background: #e9e2fb;
                            border-color: #6b2fd6;
                        }
                    }
                }
                .text-style-controls input[type='color']{
                    width: 36px;
                    height: 36px;
                    padding: 0;
                    border-radius: 6px;
                    border: 1px solid #ccc;
                }

            }
            
            
        }
       
        .properties-panel.active{
            display: block;
        }
    }

    footer{
        padding: 10px;
        display: flex;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        display: flex;
        justify-content: center;

        .footer-container{
            display: flex;      
            gap: 12px;
            background-color: #ffffff;
            padding: 10px 20px;
            border-radius: 40px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.362);

            i{
                font-size: 20px;
                color: #555;
                cursor: pointer;
                padding: 8px;
                border-radius: 8px;
                transition: background-color 0.2s ease, color 0.2s ease, transform 0.15s ease;

                &:hover{
                    background-color: #d2d0d0;
                    color: #6311f2;
                }

                &:active{
                    transform: scale(0.9);
                }
            }

            .tool.active,.tool.dragging{
                background-color: #e9e2fb;
                color: #6b2fd6;
            }
  
        }
    }

    .screen{
        width: 4000px;
        height: 4000px;
        position: absolute;
        background-color: azure;        
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));

        .block {
            width: 30px;
            height: 30px;
            border: 1px solid rgba(0, 0, 0, 0.08);
            background-color: rgba(0, 0, 0, 0.03);
            pointer-events: none;
        }


        &::-webkit-scrollbar{
            display: none;
        }

        .rectangle{
            position: absolute;
            width: 400px;
            height: 250px;
            background-color: aquamarine;
            border-radius: 6px;
            box-shadow: 0 8px 20px rgba(0,0,0,0.15);

            .resize-handle {
                position: absolute;
                width: 10px;
                height: 10px;
                background: #ffffff;
                border: 2px solid #6b2fd6;
                border-radius: 50%;
                display: none;
                z-index: 10;
            }

            .resize-handle.tl {
                top: -6px;
                left: -6px;
                cursor: nwse-resize;
            }


            .resize-handle.tr {
                top: -6px;
                right: -6px;
                cursor: nesw-resize;
            }

            .resize-handle.bl {
                bottom: -6px;
                left: -6px;
                cursor: nesw-resize;
            }

            .resize-handle.br {
                bottom: -6px;
                right: -6px;
                cursor: nwse-resize;
            }
        }
        .rectangle.selected.resize-mode .resize-handle {
            display: block;
        }

        .text-box{
            position: absolute;
            min-width: 120px;
            min-height: 24px;
            padding: 4px 6px;
            font-size: 16px;
            background-color: transparent;
            outline: none;
            cursor: text;
        }

        .text-box.selected {
            outline: 1px dashed #6b2fd6;
        }
    }
}